@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

.html body {
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: #000;
color: #222;

}


nav{
  display: flex;
  height: 100px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}



.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.photo {
    margin-top: 10px;
}


h1, h2 {    
  font-family: 'Poppins', sans-serif;
text-align: center;
}

p {
      font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
    


.fit {
  max-width: 100%;
  max-height: 100%;
}


.padding {
    padding-bottom: 2rem;

}

.welcome {
width: 75%;
margin: 0 auto;
padding-top: 2rem;

}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.about {
   width: 100%;
   height: 100%;
  
   
}

.video {
  padding: 0;
  margin: 0; 
  border: 100px;
  padding: 10px;
  display: block;
  
}

.card-text {
display: inline-block;
}


.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.social a {
    width: 100%;
font-size: 4.5em;
padding: 3rem;
}


.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}

footer {
     background-color: #3f3f3f;
     color: #d5d5d5;
     padding-top: 2rem;
     margin-top: .8rem;
     margin-bottom: 1rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

.fa-facebook {
    color: #3b5998;
    font-size: 5rem;
    padding:20px;
}

.fa-instagram {
    color: #517fa4;
     font-size: 5rem;
      padding: 20px;
}

.fa-youtube {
    color: #bb0000;
     font-size: 5rem;
      padding: 20px;
}


@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 812px) {
  nav .menu-btn i{
    display: block;
  }


  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  nav ul{
    position: fixed;
    top: 80px;
    margin-right: 500px;
    left: -100%;
    background: #111;
    width: 63.68%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  nav .logo{
       color: #fff;
  font-size: 20px;
  font-weight: 300;
  }

  #click:checked ~ ul{
    left: 0;
  }

  nav ul li{
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

@media (max-width: 2000px) {

.images {
    border-spacing: 50px;
}

 .video {
 display: block;
  margin: 0 auto;
  border: 100px;
  padding: 10px;
  display: block;
  
  }
}

  @media (max-width: 990px) {
       nav .logo{
       color: #fff;
  font-size: 20px;
  font-weight: 300;
  }

  .video {
      margin: 0;
      padding: 0;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 640px) {
  video {
      margin: 0;
      padding: 0;
      width: 10px;
      height: 10px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 360px) {
 .video {
    display: block;
  margin: 0 auto;
  border: 100px;
  padding: 10px;
  display: block;
  }
}



