@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,700');

.html body {
height: 100%;
width: 100%;
font-family: 'Poppins', sans-serif;
background-color: #000;
color: #222;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Newsreader', serif;
}

h2 {
    font-family: 'Bebas Neue', cursive;
font-family: 'Newsreader', serif;
}

.navbar {
    padding: .8rem;
}

.navbar-brand {
    color:;
}

.navbar-nav li {
padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
    color: white;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;  
}

.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;

}

.welcome {
width: 75%;
margin: 0 auto;
padding-top: 2rem;

}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 2rem;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}
}

.video {
    margin-top: 200px;
    margin-bottom: 50px;
}

.card-text {
display: inline-block;
}


.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.social a {
    width: 100%;
font-size: 4.5em;
padding: 3rem;
}


.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}

footer {
     background-color: #3f3f3f;
     color: #d5d5d5;
     padding-top: 2rem;
     margin-top: .8rem;
     margin-bottom: 1rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}