@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald&display=swap');

.html body {
height: 100%;
width: 100%;
margin: 0px;
    padding: 0px;
    overflow-x: hidden;
background-color: #000;
color: #222;

}

h1, h2 {    
font-family: 'Oswald', sans-serif;
text-align: center;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    
}

.navbar {
    padding: .8rem;
}


.navbar-nav li {
padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
     object-fit: cover;
}


.padding {
    padding-bottom: 2rem;

}

.welcome {
width: 75%;
margin: 0 auto;
padding-top: 2rem;

}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.about {
   width: 100%;
   height: 100%;
  
   
}
.video {
 
  margin-bottom: 50px;
  border: 100px;
  padding: 10px;
  margin: 10px;
  display: block;
  margin: auto;
}

.card-text {
display: inline-block;
}


.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.social a {
    width: 100%;
font-size: 4.5em;
padding: 3rem;
}


.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}

footer {
     background-color: #3f3f3f;
     color: #d5d5d5;
     padding-top: 2rem;
     margin-top: .8rem;
     margin-bottom: 1rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}